body{
	margin:0;
	padding: 0;
	font-family: Poppins;
}

/*.navbar{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #3fa46a;
	width: 100%;
	height: 70px;
	z-index: 1;
}

.nav{
	display: flex;
	justify-content: right;
	list-style: none;
	margin-right: 15%;
}*/
.logo{
	flex: 1 1 auto;
	margin-left: 10%
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 35px;
}

a{
	margin: 15px;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover{
	color: #000;
}
.banner-area{
	position: relative;
	background-image: url("Static/SBA.jpg");
	width: 100%;
	height:100vh;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	background-size: cover;
}
.about-area, .contact-area, .citizens-area, .test-area{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%
	height: 700px;

}

.text-part{
	width: 65%
	height: 80%;
}
h1{
	font-size: 50px;
	font-family: Audiowide;
}
p{
	font-size: 24px;
	line-height: 50px;
}
.about-area, .citizens-area{
	background:#fefefe;
}
.contact-area, .test-area{
	background:#262626;
	color: #fff;
}
html{
	scroll-behavior: smooth;
}

<style>

a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
</style>