
{% extends 'base.html' %}

{% block title %}SWACHH BHARAT| GOVT OF INDIA{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<a href="{% url 'dadar' %}">DADAR</a>
<a href="{% url 'borivali' %}">BORIVALI</a>
<a href="{% url 'chembur' %}">CHEMBUR</a>
<a href = "{% url 'intro' %}">INTRO</a>

  <div class="buttontag">
  <button type="submit" style ="margin-left:auto;margin-right:auto;display:block;margin-top:10px;margin-bottom:10px "><a href="{% url 'logout' %}">logout</a></button></p>
    </div>

    
{% else %}

<!-----------homepage display content when not logged in starts from here edit below---->


  <!--<a href="{% url 'login' %}">login</a>-->
{% endif %}
{% endblock %}